@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin abscenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* MEDIA QUERY MANAGER */
/* Breakpoint arguments

   0 -  600px: Phone            = phone                    (max-width)
 736 -  414px: Phone Landscape  = phone-land               (max-height)
 600 -  900px: Tablet Portrait  = tab-port                 (max-width)
 900 - 1200px: Tablet Landscape = tab-land                 (max-width)
1200 - 1800px: Regular desktop  = NORMAL SETTINGSbig-desk
1800 -> +++  : Big desktop      = big-desk                 (min-width)

16px = 1em

ORDER
1. Base
2. Typography
3. Layout + Grid
4. Page layout
5. Components

*/

@mixin respond($breakpoint) {
    @if $breakpoint==phone-land {
        @media (max-height: 25.875em) {
            @content
        }

        ;
        /* 414px/16 = 25.875em */
    }

    @if $breakpoint==big-desk {
        @media (min-width: 112.5em) {
            @content
        }

        ;
        /* 1800px/16 = 112.5em */
    }

    @if $breakpoint==tab-land {
        @media (max-width: 77.25em) {
            @content
        }

        ;
        /* 1236px/16 = 77.25em */
    }

    @if $breakpoint==tab-port {
        @media (max-width: 56.25em) {
            @content
        }

        ;
        /* 900px/16 = 56.25em */
    }

    @if $breakpoint==phone {
        @media (max-width: 37.25em) {
            @content
        }

        ;
        /* 600px/16 = 37.25em */
    }

    @if $breakpoint==phone-small {
        @media (max-width: 23.75em) {
            @content
        }

        ;
        /*380/16 = 23.75em */
    }

    @if $breakpoint==phone-sm-land {
        @media (max-height: 23.75em) {
            @content
        }

        ;
        /*380/16 = 23.75em */
    }

}