
// COLOURS

$color-primary: rgba(166, 235, 37, 0.822);
$color-primary-light: rgba(178, 252, 42, 0.76);
$color-secondary: rgba(251, 253, 121, 0.8);
$color-tertiary:rgba(250, 215, 20, 0.877);

$color-black:rgba(0, 0, 0, .8);
$color-grey-dark:#2c2727;
$color-grey-dark-1: rgba(#423a3a, .8);
$color-grey-dark-2: rgba(#504646, .8);
$color-grey-mid:#777;
$color-grey-mid-darker:rgba(216, 209, 209, 0.507);

$color-grey-light-1:#f7f7f7;
$color-white: white;

$color17: rgba(227, 23, 10, 1);

// FONTS

$default-font-size: 1.6rem;