
.navigation {

    margin-top: 2rem;
    height: 7rem;
    background-color: rgba($color-grey-mid, .2);
    border-bottom: grey;
    display: flex;
    justify-content: space-between;


    &__logo-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    
        padding: 1.3rem 2.5rem;
        margin-left: -.3rem;
        background-color: rgba($color-primary, .8);
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 93% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 93% 100%, 0% 100%);
        ;
    
        &--logo {
            height: 5rem;
            width: 5rem;
        }
    
        &--acronym {
            padding-left: 2rem;
            color: rgba($color-grey-light-1, .9);
        }
    }








    &__nav {

        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;;
        align-items: center;

        margin-right: 1rem;


        &-item {
            display: flex;
            text-transform: uppercase;
            padding: 0 3rem;

            &--link {

                &:link,
                &:visited {
                    color: rgba($color-grey-light-1, .9);
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: 400;
                    font-style: italic;
                }

                &:hover,
                &:active {
                    color: $color-primary;
                }
            }

        }
    }
}