.navigation {
    @include respond(tab-land) {
        margin: 0;
        padding: 0;
    }

    @include respond(tab-port) {
        margin: 0;
        padding: 0;
    }

    @include respond(phone) {
        margin: 0;
        padding: 0;
    }

    margin-top: 2rem;
    height: 7rem;
    border-bottom: grey;
    display: flex;

    &__logo-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        z-index: 5;

        padding: 1.3rem 2.5rem;
        margin-top: -.3rem;
        margin-left: -.3rem;
        margin-bottom: -.3rem;
        background-color: rgba($color-primary, 1);
        clip-path: polygon(0% 0%, 100% 0%, 93% 100%, 0% 100%);
        border-radius: 4px;

        &--logo {
            height: 5rem;
            width: 5rem;
        }

        &--acronym {
            padding-left: 2rem;
            color: rgba($color-grey-light-1, .9);
        }
    }

    &__navcontainer {
        @include respond(tab-land) {
            margin-right: 0;
        }

        @include respond(tab-port) {
            margin-right: 0;
        }

        @include respond(phone) {
            margin-right: 0;
        }

        flex: 1 1 auto;
        z-index: 1;
        margin-left: -1.2rem;
        margin-top: -.3rem;
        margin-right: -.3rem;
        background-color: rgba($color-grey-mid, .2);
        clip-path: polygon(1% 0%, 100% 0%, 100% 100%, 0% 100%);
        display: flex;
        justify-content: flex-end;

        &-navlist {
            @include respond(phone) {
                margin: 0 2rem 0 auto;
            }

            @include respond(phone-land) {
                margin: 0 5rem 0 auto;

            }

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-right: 1.5rem;
            margin-bottom: .8rem;
            /* patches li top margin set on layout*/

            &not:last-child {
                padding-right: 5rem;
            }

            list-style: none;

            &--item {
                @include respond(phone) {
                    display: none;
                }

                @include respond(phone-land) {
                    display: none;
                }

                margin: 0 2.2rem;

                &---link {

                    &:link,
                    &:visited {
                        color: rgba($color-grey-light-1, .9);
                        text-decoration: none;
                        text-transform: uppercase;
                        font-weight: 400;
                        font-style: italic;
                    }

                    &:hover,
                    &:active {
                        color: rgba($color-primary-light, 1);
                    }
                }
            }
        }
    }
}

.phone-visible {
    @include respond(phone) {
        display: flex;
        margin: 0 1.5rem;
    }

    @include respond(phone-land) {
        display: flex;
        margin: 0 2rem;
    }

}