* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    /* this defines what 1rem is */
    font-size: 62.5%;
    /* 62.5% = 10px */


    @include respond(big-desk) {
        font-size: 87.5%; // 1rem = 14px, 14/16=50%
    }

    @include respond(tab-land) {
        font-size: 75%; // 1rem = 12px, 12/16=75%
    }

    @include respond(tab-port) {
        font-size: 56.25%; // 1rem = 9px, 9/16=56.25%
    }

    @include respond(phone) {
        font-size: 50%; // 1rem = 8px, 8/16=50%
    }

    @include respond(phone-small) {
        font-size: 50%; // 1rem = 8px, 8/16=50%
    }
}


img {
    max-height: 100%;
    width: 100%;
    opacity: 1;
}