/* SECTION EVENTS */

.section-events {
    @include respond(tab-land) {
        height: 100vh;
        padding: 10rem 2rem 5rem 2rem;
        width: 100vw;
    }

    @include respond(tab-port) {
        height: 100vh;
        padding: 11rem 2rem 15rem 2rem;
        width: 100vw;
    }

    @include respond(phone) {
        height: 100vh;
        padding: 6rem, 2rem;
        width: 100vw;
    }

    @include respond(phone-land) {
        padding: 8rem 0 9rem 0;
        height: 110vh;
    }

    height: 70rem;
    padding: 9rem 0;
    background-color: rgba($color-grey-dark, .6);
    box-shadow: 0px 2rem 2rem $color-grey-dark-1;
    border-radius: 3px;

    &__container {
        @include respond(tab-land) {
            height: 100%;
        }

        @include respond(tab-port) {
            height: 100%;
            margin-top: 5rem;
        }

        @include respond(phone) {
            height: 78vh;
            margin-top: 2rem;
        }

        @include respond(phone-land) {
            margin-top: 1rem;
        }

        display: flex;
        width: 100%;

        &-left {
            @include respond(tab-land) {
                margin-left: 3rem;
                width: 38%;
                padding: 3rem 0 0 1rem;
            }

            @include respond(tab-port) {
                margin-left: 2rem;
                width: 38%;
                padding: 3rem 0 0 1rem;
            }

            @include respond(phone) {
                margin-left: 1rem;
                width: 33%;
            }

            @include respond(phone-land) {
                margin-left: 2rem;
                width: 40%;
                padding: 1rem 0 0 1rem;
            }

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-content: center;
            width: 37.5%;

            margin-left: 10rem;
            padding: 4rem 0 6rem 6rem;

            border-top: 2px solid rgba($color-primary, .8);
            border-left: 2px solid rgba($color-primary, .8);
            border-bottom: 2px solid rgba($color-primary, .8);
            border-radius: 5px;

            color: rgba($color-primary, .8);

            &--subtitle {

                @include respond(tab-land) {
                    margin-bottom: 1rem;
                    font-size: 3rem;
                    font-weight: 300;
                }

                @include respond(tab-port) {
                    margin-bottom: 1rem;
                    font-size: 3rem;
                    font-weight: 300;
                }

                @include respond(phone) {
                    margin-bottom: 1rem;
                }

                @include respond(phone-land) {
                    margin-bottom: 0;
                    font-size: 2.5rem;
                    font-weight: 300;
                }

                display: flex;
                justify-self: center;
                align-self: center;
                align-content: center;
                margin-bottom: 1rem;

                width: auto;
                color: rgba($color-primary, .6);
                font-size: 2.5rem;
                font-weight: 100;
            }

            &--gallery {
                @include respond(tab-land) {
                    margin-top: 3rem;
                    margin-left: 1.5rem;
                }

                @include respond(tab-port) {
                    margin-top: 2rem;
                    margin-left: 0;
                }

                @include respond(phone) {
                    margin-top: 2rem;
                    margin-left: 0;
                }

                @include respond(phone-land) {
                    margin-top: 1rem;
                    margin-left: 0;
                }

                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                width: 100%;

                &__photo {
                    @include respond(tab-land) {
                        max-width: 46%;
                        margin-top: .5rem;
                    }

                    @include respond(tab-port) {
                        max-width: 52%;
                        margin-top: 1rem;
                    }

                    @include respond(phone) {
                        max-width: 78%;
                        margin-top: 1rem;
                    }

                    @include respond(phone-land) {
                        max-width: 40%;
                        margin-top: .5rem;
                    }

                    box-shadow: 0 1.5rem 4rem rgba($color-black, .5);
                    border-radius: 4px;
                    transition: .2s;
                    z-index: 10;
                    margin: 2px;
                    max-width: 35%;

                    &:hover {
                        transform: scale(1.05);
                        box-shadow: 0 2rem 4rem rgba($color-black, .7);
                    }
                }
            }
        }

        &-center {
            @include respond(tab-land) {
                width: 24%;
            }

            @include respond(tab-port) {
                width: 24%;
            }

            @include respond(phone) {
                width: 30%;
            }

            @include respond(phone-land) {
                width: 20%;
            }

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 25%;

            color: rgba($color-primary, .8);

            &--title {
                @include respond(tab-land) {
                    margin-top: -7.5rem;
                    margin-bottom: 4rem;
                    font-size: 3.5rem;
                    font-weight: 300;
                }

                @include respond(tab-port) {
                    margin-top: -9.5rem;
                    margin-bottom: 4rem;
                    font-size: 3.5rem;
                    font-weight: 300;
                }

                @include respond(phone) {
                    margin-top: -7.5rem;
                    margin-bottom: 2rem;
                }

                @include respond(phone-land) {
                    margin-top: -8rem;
                    margin-bottom: 2rem;
                }

                display: flex;
                justify-self: center;
                align-self: center;
                margin-top: -2rem;
                width: auto;
                color: rgba($color-primary, .6);
                font-size: 3rem;
                font-weight: 100;
            }

            &--button {
                @include respond(tab-land) {
                    margin-bottom: -2.5rem;
                    font-weight: 800;
                }

                @include respond(tab-port) {
                    margin-bottom: -2.5rem;
                    font-weight: 900;
                }

                @include respond(phone) {
                    margin-bottom: -3.5rem;
                    font-weight: 900;
                }

                display: flex;
                justify-self: center;
                align-self: center;
                margin-bottom: -2rem;
                height: 5rem;
                width: auto;
            }
        }

        &-right {
            @include respond(tab-land) {
                margin-right: 2rem;
                padding: 3rem 1rem 2rem 0;
                width: 38%;
            }

            @include respond(tab-port) {
                margin-right: 2rem;
                padding: 3rem 1rem 2rem 0;
                width: 38%;
            }

            @include respond(phone) {
                margin-right: 1rem;
                width: 33%;
                padding-right: 6rem;
            }

            @include respond(phone-land) {
                margin-right: 2rem;
                width: 40%;
                padding: 1rem 1rem 0 0;
            }

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-content: center;
            width: 37.5%;

            margin-right: 10rem;
            padding: 4rem 6rem 6rem 0;

            width: auto;
            color: rgba($color-primary, .6);
            font-size: 2.5rem;
            font-weight: 100;

            border-top: 2px solid rgba($color-primary, .8);
            border-right: 2px solid rgba($color-primary, .8);
            border-bottom: 2px solid rgba($color-primary, .8);
            border-radius: 5px;

            &--subtitle {
                @include respond(tab-land) {
                    font-size: 3rem;
                    font-weight: 300;
                }

                @include respond(tab-port) {
                    margin-bottom: 1rem;
                    font-size: 3.5rem;
                    font-weight: 300;
                }

                @include respond(phone) {
                    margin-bottom: 1rem;
                    font-size: 3rem;
                    font-weight: 300;
                }

                @include respond(phone-land) {
                    margin-bottom: 0;
                    font-size: 2.5rem;
                    font-weight: 300;
                }

                display: flex;
                justify-self: center;
                align-self: center;
                align-content: center;
                margin-bottom: 1rem;

                width: auto;
                color: rgba($color-primary, .6);

                font-size: 2.5rem;
                font-weight: 100;
            }

            &--list {

                @include respond(tab-land) {
                    margin-top: 2rem;
                    margin-left: 0;
                    font-weight: 300;
                    font-size: 2rem;
                }

                @include respond(tab-port) {
                    margin-top: 5rem;
                    margin-left: 0;
                    font-weight: 300;
                    font-size: 3rem;
                }

                @include respond(phone) {
                    margin-top: 4rem;
                    margin-left: 0;
                    font-weight: 300;
                    font-size: 1.9rem;
                }

                @include respond(phone-land) {
                    margin-top: 1rem;
                    margin-left: 0;
                    font-weight: 300;
                    font-size: 1.9rem;
                }

                display: flex;
                flex-direction: column;
                justify-content: center;
                list-style: none;

                padding-bottom: .8rem;
                /* it patches li top margin set on layout*/
                color: $color-primary;

                font-weight: 200;
                font-size: 2rem;

                &---item {
                    @include respond(tab-land) {
                        margin: 0 0 5rem 0;
                    }

                    @include respond(tab-port) {
                        margin: 0 0 5rem 0;
                    }

                    @include respond(phone) {
                        margin: 0 0 3rem 0;
                    }

                    @include respond(phone-land) {
                        margin: 0 0 1.3rem 0;
                    }
                }
            }
        }
    }

    &__btn-text {
        display: flex;
        align-self: flex-start;
        justify-content: flex-end;
        margin: 5rem 0 0 15rem;
        width: 10%;

        color: rgba($color-grey-light-1, .5);
        font-weight: 100;
        font-size: 3rem;
    }
}