.header {
    @include respond(phone-land) {
        height: 100vh;
    }

    @include respond(tab-land) {
        width: 100vw;
    }

    @include respond(tab-port) {
        width: 100vw;
    }

    @include respond(phone) {
        width: 100vw;
    }

    border-radius: 4px;
    margin-top: -7rem;
    height: 100vh;
    background-image: linear-gradient(to right bottom, transparent, $color-secondary),
    url(/resources/sprint1/Youth-Soccer.jpg);
    background-size: cover;
    background-position: top;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    display: flex;
    flex-direction: row-reverse;

    &__title-container {
        @include respond(phone-land) {
            margin-bottom: 2rem;
        }

        margin-bottom: 10rem;
        display: flex;
        justify-content: flex-start;
        align-self: flex-end;

        background-color: rgba($color-grey-dark, .2);
        clip-path: polygon(2% 0%, 100% 0%, 100% 100%, 0% 100%);
        color: rgba($color-grey-light-1, .9);
        border-radius: 6px;

        &--title {
            padding: 1rem 4rem;
            font-weight: 400;
            font-style: italic;
            font-size: 4rem;
        }
    }
}