.rules__content {
    @include respond(phone) {
        margin-bottom: 2.5rem;
    }

    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-top: 1rem;

    &-center {

        @include respond(phone) {
            width: 86%;
        }

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        color: rgba($color-grey-light-1, .8);
        width: 80%;

        &__heading {
            display: flex;
            flex-direction: column;

            &-title {
                display: flex;
                margin-top: 2rem;
                color: rgba($color-primary, .8);
                font-weight: 100;
                font-size: 3rem;
            }

            &-subtitle {
                display: flex;
                justify-content: center;
                margin-top: 1rem;
                margin-bottom: 2rem;
                font-weight: 100;
                font-size: 2.5rem;
            }
        }

        &__rules {
            @include respond(phone) {
                margin-bottom: 5rem;
            }

            color: rgba($color-grey-light-1, .7);
            margin-bottom: 7rem;

            &-subtitle {
                margin-top: 3rem;
                margin-bottom: 1rem;
                font-weight: 100;
                font-size: 2rem;
                color: rgba($color-primary, .6);
                text-transform: uppercase;
            }
        }
    }

    &-left {
        @include respond(tab-land) {
            margin-left: 3rem;
            width: 10%;
            padding-left: 2rem;
            margin-bottom: 2rem;
        }

        @include respond(tab-port) {
            margin-left: 2rem;
            width: 10%;
            padding-left: 2rem;
            margin-bottom: 2rem;
        }

        @include respond(phone) {
            margin-left: 1.5rem;
            width: 7%;
            padding-left: 2rem;
            margin-bottom: 2rem;
        }

        display: flex;

        margin-top: 5rem;
        margin-left: 10rem;
        padding-left: 10rem;
        margin-bottom: 2rem;

        // height: 400rem;
        width: 10%;

        border-top: 2px solid $color-primary;
        border-bottom: 2px solid $color-primary;
        border-left: 2px solid $color-primary;
        border-radius: 5px;
    }

    &-right {
        @include respond(tab-land) {
            margin-right: 3rem;
            width: 10%;
            padding-right: 2rem;
            margin-bottom: 2rem;
        }

        @include respond(tab-port) {
            margin-right: 2rem;
            width: 10%;
            padding-right: 2rem;
            margin-bottom: 2rem;
        }

        @include respond(phone) {
            margin-right: 1.5rem;
            width: 7%;
            padding-right: 2rem;
            margin-bottom: 2rem;
        }

        display: flex;

        margin-top: 5rem;
        margin-right: 10rem;
        padding-right: 10rem;
        margin-bottom: 2rem;

        // height: 400rem;
        width: 10%;

        border-top: 2px solid $color-primary;
        border-bottom: 2px solid $color-primary;
        border-right: 2px solid $color-primary;
        border-radius: 5px;
    }
}